[Interface]
Address = {{ access_ip }}/24
PrivateKey = {{ wg_private_key }}
ListenPort = 51820

{% for host in groups['wireguard'] if host != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[host]['my_public_key'] }}
AllowedIPs = {{ hostvars[host]['access_ip'] }}/32
Endpoint = {{ hostvars[host]['ansible_host'] }}:51820
PersistentKeepalive = 25
{% endfor %}
